#notFoundContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
#notFoundNumber {
  color: var(--primaryColor);
}
#notFoundHeader,
.notFoundSubHeading {
  color: var(--black75);
}
.listItem {
  text-align: center;
  color: var(--black50);
  list-style: none;
  margin: 0.5rem 0;
}
.otherPageBtn {
  background-color: var(--primaryColor);
  padding: 1rem 2rem;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10rem;
  color: var(--greenishWhite);
  margin: 0.5rem 0;
  text-decoration: none;
  box-shadow: var(--shadow);
}
