#outerContainer {
    overflow-x: hidden;
    overflow-y: auto;
  }
  #navbar {
    height: 100vh;
    width: 250px;
    background-color: var(--greenishWhite);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
  }
  #navCard {
    width: 90%;
    height: 95%;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5em 0;
    align-items: center;
  }
  .navItems {
    text-decoration: none;
    color: var(--black50);
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0.65rem 1.5rem;
    width: 165px;
  }
  .navItems img {
    opacity: 0.5;
    margin-right: 0.75rem;
  }
  .active {
    background-color: var(--primaryColor);
    color: var(--greenishWhite);
    border-radius: 10rem;
  }
  .active img {
    opacity: 1;
    filter: invert(1);
  }
  #horizontalLine {
    margin-bottom: 0.5rem;
    background-color: var(--black5);
    height: 1px;
    border: none;
  }
  #closeIcon,
  #hamburgerIcon {
    display: none;
  }
  #container {
    margin-left: 250px;
    width: calc(100vw - 250px);
    padding: 1rem;
  }
  
  @media screen and (max-width: 800px) {
    #hamburgerIcon {
      display: block;
    }
    .navItems {
      display: none;
    }
    #logoAndIcon {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 1.5rem;
      z-index: 1;
    }
    #navbar {
      width: 100vw;
      height: 70px;
    }
    #navCard {
      border-radius: 0;
      width: 100vw;
    }
    #container {
      margin-left: 0;
      margin-top: 70px;
      width: 100vw;
    }
  }
  .gridHead {
    margin: 4rem 0 0 0;
    padding: 0 1rem 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .gridHead a {
    text-decoration: none;
    color: var(--black25);
  }
  .gridHeaders {
    text-align: center;
    color: var(--black75);
  }
  .grid-box {
    padding: 0 3rem;
    margin: 4rem 0;
    display: grid;
    justify-content: center;
    gap: 4rem;
    /* 282.5 346.2  this is the best size we found*/
    grid-template-columns: repeat(auto-fit, 150px);
  }
  .pageCard {
    width: 100%;
    border-radius: 1rem;
    /* background-color: var(--greenishWhite); */
    /* aspect-ratio: 1/1; */
    overflow: hidden;
    /* box-shadow: var(--shadow); */
  }
  .pageCardImg {
    width: 100%;
    filter: brightness(0.8);
    border-radius: 1rem;
    aspect-ratio: 1/1;
  }
  .pageCardButtonBlock {
    display: flex;
    width: 100%;
    padding: 0.5rem 0rem 1rem 0rem;
    justify-content: space-between;
  }
  